body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
}

.vertical-centered-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

#particles-background, #particles-foreground {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 300%;
    height: 300%;
}



.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.animated-gradient-button {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: #6E48AA; /* Dark inner fill */
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    outline: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Lexend', sans-serif;
    position: relative;
    overflow: hidden;
    user-select: none;
    filter: grayscale(100[])
    border: 3px solid #6E48AA; /* solid border around the button */
}

.animated-gradient-button::before {
    filter: grayscale(100%)
    content: '';
    position: absolute;
    top: -1px; /* align with the border */
    left: -150%; /* start from the left */
    width: 300%; /* enough width to cover the diagonal movement */
    height: calc(100% + 2px); /* height of the button plus border */
    background: linear-gradient(45deg, transparent, rgba(255, 255, 255, 0.6), transparent);
    transition: left 0.7s ease-in-out;
    will-change: left;
    z-index: 0;
    clip-path: inset(0); /* ensure the shine does not overflow the border */
}

.animated-gradient-button:hover {
    transform: scale(1.05); /* slightly enlarge on hover */
}

.animated-gradient-button:focus {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.5);
}

.animated-gradient-button:active {
    transform: scale(0.95); /* shrink when clicked */
}



.animated-gradient-button::before {
    animation: shine-effect 3s linear infinite;
}

.animated-gradient-button:hover::before {
    animation-play-state: paused; /* pause shine effect on hover */
}
